<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout1</title>
    @Styles.Render("~/Content/css")
</head>
<body style="background-color: black">
    <img src="../../fotos/67192189-dart-wallpapers.jpg" style=" margin-left: 15%; width: 70%; height: 200px" />
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-collapse collapse">
        <ul style="margin-left: 40%" class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Home", "Home")</li>
            <li>@Html.ActionLink("Addplayer", "Addplayer", "Home")</li>
            <li>@Html.ActionLink("NewGame", "NewGame", "Home")</li>
            <li>@Html.ActionLink("MatchResults", "MatchResults", "Home")</li>
            <li>@Html.ActionLink("ResetAll", "ResetAll", "Home")</li>
        </ul>
    </div>
</div>
@RenderBody()
</body>
</html>